// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-css{
	margin-top:20px !important;
	
}
.myimg{
	    width: 200px;
	    height: 200px;
	    margin-right: 20px;
	    border-radius: 25px;
}
.myimg-about{
	width: 400px;
	height: 400px;
	margin-right: 20px;
	border-radius: 25px;
}
