<div class="new-image-about" align="center">
	<img class="myimg-about"src="/assets/about.jpg">
</div>
<br>
<div class="about_p" align="center">
	<h5>This Controller is for creating new articles,saving them in the database & then displaying them to the user.</h5>
	<h5>You can create new article using new method & then can save it in database using create method </h5>
	<h5>Index page will display all the articles saved</h5>
	<h5>show page will display the specific searched article</h5>
</div>
